/*CABEÇALHO GERAL*/
body{
	font-family: 'Montserrat', sans-serif;

}
header{
	background: #BBBBBB;
}
.caixa{
	position: relative;
	width: 940px;
	margin: 0 auto;
}

nav {
	position: absolute;
	top: 110px;
	right: 0;
	cursor: pointer;
}

nav li {
	display: inline;
	margin: 0 0 0 15px;
}

nav a {
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 25px;
	text-decoration: none;
}

nav a:hover {
	color:#c18c19;
	text-decoration: underline;
}

/*CSS PRODUTO*/

.info{
	text-align: center;
	font-size: 2em;
	margin:0.5em;

}

.produtos{
	background: linear-gradient(#FFFFFF 80%, black);
	width: 940px;
	margin:  0 auto;
	padding: 50px 0;
}

.produtos li {
	display: inline-block;
	text-align: center;
	width: 30%;
	vertical-align: top;
	margin: 0 1.5%;
	padding: 30px 20px;
	box-sizing: border-box;
	border: 2px solid #000000;
	border-radius:10px;
	transition: 0.5 all;

}

.produtos li:hover{
	border-color: #c78c19;
	transform: scale(1.1);
	transition: 0.5s;
}

.produtos li:active{
	border-color: #088C19
}

.produtos h2{
	font-size: 30px;
	font-weight:  bold;
}

.produto-descriçao{
	font-size: 18px;
}

.produto-preco{
	font-size: 22px;
	font-weight: bold;
	margin-top: 10px;
}

/* RODAPE GERAL*/
footer{
	text-align: center;
	background: url("bg.jpg");
	padding:15px 0;
}

.logo:hover{
	transform: scale(1.1);
	transition: 0.5s;

}

.Copyright{
	color:#FFFFFF;
	font-size: 13px;
	margin: 0 0 0;
}


/*CSS CONTADO*/
body{
	background: linear-gradient(#FFFFFF 40%, #888888)
}
form{
	padding: 10px; 
}
 form label, form {
	right: 100px;
    display: block;
    font-size:20px;
    margin:0 0 10px;
 }
 .input-padrao{
    display: block;
    margin:0 0 20px;
    padding: 10px 25px;
    width:50%;
}
.checkbox{
	margin: 20px 0;
}

.enviar{
	width:40%;
	padding: 15px 0;
	background: orange;
	color:white;
	font-weight:bold;
	font-size:18px;
	border: none;
	border-radius:5px;
	transition: 0.5s all;
	cursor: pointer;
}

.enviar:hover{
	background:darkorange;
	transform: scale(1.1);
}
table{
	margin: 10px 5px 10px 10px;
	font-size: 15px;
}

thead{
	background: #555555;
	color: white;
	font-weight: bold;
}

td, th{
	border: 2px solid black;
	padding: 15px 8px;
}

/*css da pagina inicial*/
.principal{
	padding: 3em 0;
	background: #FEFEFE;
	width: 940px;
	margin: 0 auto;
}
.banner{
	width: 100%;
}
.titulo-principal{
	text-align: center;
	font-size: 2em;
	margin: 0 0 1em;
	clear: left;
}

.principal p {
	margin: 0 0 1em;
}

.principal strong{
	font-weight: bold;
}
.principal em{
	font-style: italic;
}
.utensilios{
	width: 120px;
	float: left;
	margin: 0 20px 20px 0;
	box-shadow: 5px 5px 15px black;
	border: none;
	border-radius: 2.5px;
}
.mapa{
	padding: 3em 0;
	background: linear-gradient(#FEFEFE, #888888);
}

.mapa-conteudo{
	width: 940px;
	margin: 0 auto;

}

.mapa p{
	margin: 0 0 2em;
	text-align: center;
}

.beneficios{
	padding: 3em 0;
	background: #888888;
}

.conteudo-beneficios{
	width: 640px;
	margin: 0 auto;
}

.lista-beneficios{
	width: 40%;
	display: inline-block;
	vertical-align: top;
}

.itens{
	line-height:1.5;
}

.itens:first-child{
	font-weight: bold;
}

.itens:before{
	content: "★";
}

.imagembeneficios{
	width: 60%;
	opacity: 1;
	transition: 500ms;
	box-shadow: 10px 10px 30px #000000;
	border: none;
	border-radius: 5px;
}
.imagembeneficios:hover{
	opacity: 0.7;
}

.video{
	width: 560px;
	margin: 2em auto;
}

@media screen and (max-width: 480px){
	.caixa, .principal, .conteudo-beneficios, .mapa-conteudo, .video{
		width: auto;
	}
	h1{
		text-align: center;
	}
	nav{
		position: static;
	}
	.lista-beneficios, .imagembeneficios{
		width: 100%;
	}
}
